.place__title {
  font-family: 'Inter', 'Arial', sans-serif;
  font-size: 72px;
  line-height: 76px;
  font-weight: 900;
  align-self: end;
  color: #fff;
  margin: 0;
}

@media screen and (max-width: 850px) {
  .place__title {
    max-width: 340px;
    font-size: 42px;
    line-height: 46px;
  }

  @media screen and (max-width: 587px) {
    .place__title {
      max-width: 320px;
      margin: 0 auto;
      text-align: center;
    }
  }
}

@media screen and (max-width: 390px) {
  .place__title {
    font-size: 32px;
    line-height: 35px;
    text-align: left;
    margin: 0;
    padding-left: 16px;
  }
}
