.photo-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  /*grid-template-rows: 1fr 1fr 1fr;*/
  gap: 16px;
  padding: 92px 48px 0;
}

@media screen and (max-width: 850px) {
  .photo-grid {
    padding: 88px 24px 0;
  }
}

@media screen and (max-width: 390px) {
  .photo-grid {
    padding: 64px 16px 0;
  }
}
