.place__paragraph {
  box-sizing: border-box;
  font-family: 'Inter', 'Arial', sans-serif;
  font-size: 18px;
  line-height: 29px;
  font-weight: 400;
  color: #fff;
  margin: 0;
}

/*.place__paragraph:nth-of-type(2) {
  padding-top: 26px;
}*/

.place__paragraph:first-child {
  padding-bottom: 26px;
}

@media screen and (max-width: 850px) {
  .place__paragraph {
    font-size: 16px;
    line-height: 26px;
  }
}

@media screen and (max-width: 590px) {
  .place__paragraph {
    padding: 0 20px 0;
  }
}

@media screen and (max-width: 390px) {
  .place__paragraph {
    padding: 0 16px 0;
  }
}
