.cover__title {
  max-width: 560px;
  font-family: 'Inter', 'Arial', sans-serif;
  font-size: 72px;
  line-height: 76px;
  font-weight: 900;
  color: #fff;
  margin: 0 auto;
  text-align: center;
}

@media screen and (max-width: 520px) {
  .cover__title {
    font-size: 52px;
    line-height: 56px;
  }
}

@media screen and (max-width: 390px) {
  .cover__title {
    max-width: 288px;
    font-size: 32px;
    line-height: 35px;
  }
}
